    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Todos os direitos reservados <%= t('company_name') + ' ' + t('version')  %> <%= Time.now.year %></span>
          </div>
        </div>
      </footer>